# Configuración del Agente
# Tema de colores: dracula, tokyo_night, basic

#PROVIDER=Ollama
#API_BASE=http://localhost:11434
#MODEL_ID=qwen2.5-coder:7b-instruct-q4_K_M

#Openrouter configuration
PROVIDER=OpenRouter
API_BASE=https://openrouter.ai/api/v1
OPENROUTER_API_KEY="sk-123"
MODEL_ID=stepfun/step-3.5-flash:free
#MODEL_ID=meta-llama/llama-3.3-70b-instruct:free

THEME=dracula
MAX_STEPS=30